.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 999;
    transition: .3s ease-in-out;
}

.navbar-colored{
    background-color: #4b87fd;
    transition: .3s ease-in-out;
}

.navbar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links ul{
    display: flex;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 25px;
    transition: .3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active{
    color: #0ef;
}

