.hidden {
    opacity: 0;
    filter: blur(20px);
    /* Add a translate animation */
    transition: opacity 2s, filter 1.2s;
    /* Apply transition to opacity, filter, and transform */
}

.visible {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

.left-hidden {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-50px);
    /* Add a translate animation */
    transition: opacity .8s, filter .8s, transform 5s;
    /* Apply transition to opacity, filter, and transform */
}

.left-visible {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}

 
.right-hidden {
    visibility: hidden;
    filter: blur(20px);
    transform: translate(100px);
    /* Add a translate animation */
    transition: visibility 3s, filter .3s, transform .3s;
    /* Apply transition to opacity, filter, and transform */
}

.right-visible {
    filter: blur(0);
    visibility: visible;
    transform: translateX(0);
}

 