*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #000000;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 640px) {
    .container {
        margin: 0 25px;
    }

    * {
        font-size: 10px;
    }

    .home-image img {
        max-width: 260px;
    }
}

@media (min-width: 641px) and (max-width: 720px) {
    .container {
        margin: 0 50px;
    }

    * {
        font-size: 12px;
    }

}

@media (min-width: 721px) and (max-width: 1280px) {
    .container {
        margin: 0 100px;
    }

    * {
        font-size: 14px;
    }
}

.white-padding-bottom{
    padding-bottom: 100px;
}

.title, title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    font-variant: small-caps;
    letter-spacing: 0.1875rem;
}

.h1, h1{
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.16875rem;
}
 
.h2, h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.15rem;
}
 
.h3, h3{
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.13125rem;
}
 
.p, p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1rem;
}